.cltn-body {
  display: flex;
  flex-flow: column nowrap;
  background-color: #e1e1e1;
  align-items: center;
  min-height: calc(100vh - 6.1em);

  background-image: url("https://cdn.dribbble.com/users/701774/screenshots/5523990/media/f28851bd76372b03d778dd4d278aa7f7.gif");
  /* background-repeat: no-repeat; */
  background-repeat: repeat;
  background-size: auto auto;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}

.cltn-image {
  height: 10em;
  margin: 3vh;
  float: right;
  border-radius: 2vh;
}

.cltn-block {
  top: 75vh;
  /* position: fixed; */
  /* background-color: #f1f1f1; */
  width: 60vw;
  min-width: 340px;
  border-radius: 5vh;
  padding: 2vh;
  margin: 3vh;
  background-color: antiquewhite;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* For phones */
@media (max-width: 1000px) {
  .cltn-image {
    height: 6em;
    margin-left: 0;
    border-radius: 2vh;
  }
}
