.tests-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: calc(100vh - 4.2em);

  /* background-color: #e1e1e1; */
  background-color: #000000;
  /* background-image: url(https://i.imgur.com/zzIke0P.gif); */
  background-image: url("https://cdn.dribbble.com/users/701774/screenshots/5523990/media/f28851bd76372b03d778dd4d278aa7f7.gif");
  /* background-repeat: no-repeat; */
  background-repeat: repeat;
  background-size: auto auto;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}

.tests-block {
  width: calc(40vw + 40px);
  min-width: 340px;
  min-height: 30vh;
  margin: 0;
  background-color: antiquewhite; /* #e1e1e1 #ffffff */

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.tests-block-text {
  /* width: 40vw; */
  overflow: auto;
  padding: 5vh;
}

.tests-block-image {
  height: 100%;
  width: auto;
  max-width: 50%;
  margin: 1vh;
  padding: 0;
  border-radius: 1vh;
  float: right;
}

.info-block {
  background-color: #573;
  max-width: 80%;
  color: #eee;
  font-size: 120%;
  padding: 1vw;
  border-radius: 2vh;
  margin: 1vh;

  width: calc(40vw + 40px - 2vw);
  min-width: calc(340px - 2vw);
}

#bacteria-main-block {
  width: calc(40vw + 40px - 2vw);
  min-width: calc(340px - 2vw);
  background-color: #eee;
}

#bacteria-main-block img {
  width: calc(40vw + 40px - 2vw);
  min-width: calc(340px - 2vw);
  max-width: none;
  margin: 0;
  border-radius: 0;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* TEST HEADERS */
.test-header {
  background-color: #573;
  color: #eee;
  padding: 0 1vw 0;
  margin: 1vh;
  border-radius: 2vh;
  width: 300px;

  width: calc(40vw + 40px - 2vw);
  min-width: calc(340px - 2vw);
}

.test-header:hover {
  cursor: pointer;
}

.header-checkbox {
  display: none;
}

#test1-header:checked ~ #test1-main-block,
#test2-header:checked ~ #test2-main-block,
#test3-header:checked ~ #test3-main-block,
#test4-header:checked ~ #test4-main-block,
#test5-header:checked ~ #test5-main-block {
  display: block;
  margin: auto;
  margin-bottom: 5vh;
  padding: 0;
}

#test1-header:checked ~ #test1-label,
#test2-header:checked ~ #test2-label,
#test3-header:checked ~ #test3-label,
#test4-header:checked ~ #test4-label,
#test5-header:checked ~ #test5-label,
#bacteria-header:checked ~ #bacteria-label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.tests-main-block {
  display: none;
}

#bacteria-header:checked ~ #bacteria-main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  margin-bottom: 5vh;
  width: calc(40vw + 40px);
  min-width: calc(340px - 2vw);
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

/* TEST HEADERS */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* STORING NAME WINDOW */

#name-window {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

/* STORING NAME WINDOW */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* For phones */
@media (max-width: 1000px) {
  .tests-block {
    flex-flow: column nowrap;
  }

  .tests-block-image {
    float: none;
    height: auto;
    width: 100%;
    margin: 0;
    border-radius: 0;
    max-width: none;
  }

  .tests-block-text {
    width: 90%;
    overflow: auto;
    padding: 5vw;
  }
}
