{{template "base" .}} {{define "body"}}
<div class="cltn-body">
  <img
    src="/frontend/html/scientist.jpg"
    alt="Girl in a jacket"
    class="cltn-image"
  />

  <div class="cltn-block">
    <p class="cltn-block-text">
      Кешке қатысқан 18 адам тамақтанғаннан кейін шамамен 3-4 сағаттан кейін
      ауырып қалды. Ең жиі кездесетін белгілер жүрек айну, құсу және диарея
      болды. Орта есеппен 24 сағат ішінде зардапшылардың жүректері айнып құса
      бастады сонымен қоса диарея пайда болды. Барлық аурулар кеште картоп
      салатын жеумен байланысты болды. Аспазшы салатты үйде дайындап, алып
      келген екен. Сосын салатты тек фольгамен жабылған үлкен пластикалық
      контейнерде салқындатыпты (аэробты жағдайлар). Аспазшы салатты келесі күні
      салқын түрде ұсынған екен. Науқастардың жазылып кетуі сіздерге
      байланынысты! Өтінеміз тексерулер жүргізіп, қандай бактерия екенін анықтап
      бересіздер ме?
    </p>

    <p>
      ! Науқастырдың анализдері жиналды. Алайда бірден тексеру жүргізуге
      болмайды. Алдымен науқастардан алынған бактериалардың санын көбейту керек
      !
    </p>

    <a href="/tests" target="_self">
      <button type="button" class="cltn-button">!Культивациялау!</button>
    </a>
  </div>
</div>
{{end}}
