{{template "base" .}} {{define "body"}}
<!--  -->

{{if or (not .Fname) (not .Lname)}}
<section id="name-background">
  {{$lang := .TemplateText.Lang.Value}}
  {{if (eq $lang "kz")}}
  <form id="name-window" action="{{.Links.CultivationKz}}">
  {{else if (eq $lang "ru")}}
  <form id="name-window" action="{{.Links.CultivationRu}}">
  {{else if (eq $lang "en")}}
  <form id="name-window" action="{{.Links.CultivationEn}}">
  {{else}}
  <form id="name-window" action="{{.Links.CultivationKz}}">
  {{end}}
    <h3>Blank</h3>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname" required />
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname" required />

    <input type="submit" value="submit" />

    <p>
      {{.TemplateText.Cultivation.Note}}
    </p>
  </form>
</section>
{{end}}

<!--  -->

<div class="cltn-body">
  <div class="cltn-block">
    <p class="cltn-block-text">
      <img
        src="/frontend/html/scientist.jpg"
        alt="Girl in a jacket"
        class="cltn-image"
      />
      {{.TemplateText.Cultivation.Text1}}
      <p>
        {{.TemplateText.Cultivation.Text2}}
      </p>
    </p>

    {{$lang := .TemplateText.Lang.Value}}
    {{if (eq $lang "kz")}}
      <a href="{{.Links.TestsKz}}" target="_self">
    {{else if (eq $lang "ru")}}
      <a href="{{.Links.TestsRu}}" target="_self">
    {{else if (eq $lang "en")}}
      <a href="{{.Links.TestsEn}}" target="_self">
    {{else}}
      <a href="{{.Links.TestsKz}}" target="_self">
    {{end}}
      <button type="button" class="button-74">{{.TemplateText.Cultivation.Button}}</button>
    </a>

  </div>
</div>
{{end}}

{{define "language_buttons"}}
<fieldset id="lang_buttons">
  <label>
    <input type="radio" id="lang_cltn_kz" name="button" class="lang_button"/>
    <a href="{{.Links.CultivationKz}}" target="_self">
      kz
    </a>
  </label>

  <label>
    <input type="radio" id="lang_cltn_ru" name="button" class="lang_button"/>
    <a href="{{.Links.CultivationRu}}" target="_self">
      ru
    </a>
  </label>

  <label>
    <input type="radio" id="lang_cltn_en" name="button" class="lang_button"/>
    <a href="{{.Links.CultivationEn}}" target="_self">
      en
    </a>
  </label>

</fieldset>
{{end}}