{{template "base" .}} {{define "body"}}
<div class="tests-body">
  <div class="tests-block">
    <div class="tests-block-text">
      <h3>Test 1</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <img
      src="/frontend/html/scientist.jpg"
      alt="Girl in a jacket"
      class="tests-block-image"
    />
  </div>

  <div class="tests-block">
    <div class="tests-block-text">
      <h3>Test 2</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <img
      src="/frontend/html/scientist.jpg"
      alt="Girl in a jacket"
      class="tests-block-image"
    />
  </div>

  <div class="tests-block">
    <div class="tests-block-text">
      <h3>Test 3</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <img
      src="/frontend/html/scientist.jpg"
      alt="Girl in a jacket"
      class="tests-block-image"
    />
  </div>

  <form class="tests-quizz">
    <!-- <fieldset -->
    <div
      id="q1"
      class="tests-quizz-fieldset"
      style="background-color: linear-gradient(to bottom, #090909, #101010)"
    >
      <div class="fs-questionnaire">
        <section id="questions">
          <legend>
            Who was the first man<br />
            in space?
          </legend>

          <!-- This is just to get the radio buttons clustered in one block -->
          <div class="flex-column">
            <!-- These div-s are necessary, because without them the radio buttons look weird -->
            <div> 
              <input type="radio" name="q1" id="q1a" />
              <label for="q1a">Baron Munchausen</label>
            </div>
            <div>
              <input type="radio" name="q1" id="q1b" />
              <label for="q1b">Neil Armstrong</label>
            </div>
            <div>
              <input type="radio" name="q1" id="q1c" />
              <label for="q1c">Alan Shepard</label>
            </div>
            <div>
              <input type="radio" name="q1" id="q1d" />
              <label for="q1d">Yuri Gagarin</label>
            </div>
          </div>
        </section>

        <section id="answers">
          <div class="message correct">
            <div>
              <p>This is right!</p>
              <p>
                Yuri Alekseyevich Gagarin  was a Soviet Air Forces pilot and
                cosmonaut who became the first human to journey into outer space;
                his capsule, Vostok 1, completed one orbit of Earth on 12 April
                1961.
              </p>
            </div>


            <img src="https://i.imgur.com/H9NVua3.jpg" />
          </div>

          <p class="message incorrect_a">
            <img src="https://i.imgur.com/VFpGLPs.png" />
            Baron Munchausen
            <a
              href="http://онлайн-читать.рф/распе-мюнхаузен-первое-путешествие-на-луну/"
              target="_blank"
              >went</a
            >
            straight to the Moon!
          </p>

          <p class="message incorrect_b">This is incorrect!</p>
          
          <p class="message incorrect_c">
            Alan Shepard was first man in space from USA.
          </p>
        </section>
      </div>

      <!-- <p class="button-next">
          <a class="button" href="#q2">Next question</a>
        </p> -->
    
    </form>    
    <!-- </fieldset> -->

    <p class="button-next">
      <span class="congrats">
        Congratulations, you have finished the quiz!
      </span>
    </p>
  </form>
</div>
{{end}}
