{{template "base" .}} {{define "body"}}

<!--  -->
{{if or (not .Fname) (not .Lname)}}
<section id="name-background">
  {{$lang := .TemplateText.Lang.Value}}
  {{if (eq $lang "kz")}}
  <form id="name-window" action="/cultivation/kz">
  {{else if (eq $lang "ru")}}
  <form id="name-window" action="/cultivation/ru">
  {{else if (eq $lang "en")}}
  <form id="name-window" action="/cultivation/en">
  {{else}}
  <form id="name-window" action="/cultivation/kz">
  {{end}}
    <h3>Blank</h3>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname" required />
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname" required />

    <input type="submit" value="submit" />

    <p>
      {{.TemplateText.Cultivation.Note}}
    </p>
  </form>
</section>
{{end}}

<!--  -->

<div class="tests-body">
  <div class="info-block">
    <p>{{.TemplateText.Tests.Text1}}</p>
    <p>{{.TemplateText.Tests.Text2}}</p>
  </div>

  <input type="checkbox" id="test1-header" class="header-checkbox" />
  <label id="test1-label" class="test-header" for="test1-header"
    ><h3>{{.TemplateText.Test1.TestName}}</h3>
  </label>

  <div class="tests-main-block" id="test1-main-block">
    <div class="tests-block">
      <div class="tests-block-text">
        <p>{{.TemplateText.Test1.Text1}}</p>
        <p>{{.TemplateText.Test1.Text2}}</p>
      </div>

      <img src="/frontend/test1-img.jpg" alt="" class="tests-block-image" />
    </div>

    <form>
      <fieldset id="q1" class="quizz-fieldset">
        <legend>{{.TemplateText.Test1.Question}}</legend>
        <div>
          <input type="radio" name="q1" id="q1a" />
          <label for="q1a">{{.TemplateText.Test1.Option1}}</label>
          <input type="radio" name="q1" id="q1b" />
          <label for="q1b">{{.TemplateText.Test1.Option2}}</label>
          <input type="radio" name="q1" id="q1c" />
          <label for="q1c">{{.TemplateText.Test1.Option3}}</label>
          <input type="radio" name="q1" id="q1d" />
          <label for="q1d">{{.TemplateText.Test1.Option4}}</label>
          <section>
            <div class="message correct">
              <p>{{.TemplateText.Test1.Correct}}</p>
              <img
                src="/frontend/test1correct-img.jpg"
                style="height: 200px; width: auto; float: left"
              />
            </div>
            <p class="message incorrect">{{.TemplateText.Test1.Incorrect}}</p>
            <p class="message incorrect_a">{{.TemplateText.Test1.Hint}}</p>
          </section>
        </div>
      </fieldset>
    </form>
  </div>

  <input type="checkbox" id="test2-header" class="header-checkbox" />
  <label id="test2-label" class="test-header" for="test2-header">
    <h3>{{.TemplateText.Test2.TestName}}</h3></label
  >

  <div class="tests-main-block" id="test2-main-block">
    <div class="tests-block">
      <div class="tests-block-text">
        <p>{{.TemplateText.Test2.Text1}}</p>
      </div>

      <div class="tests-block-image">
        <img src="/frontend/test2-img1.png" alt="" />
        <img src="/frontend/test2-img2.png" alt="" />
      </div>
    </div>

    <form>
      <fieldset id="q2" class="quizz-fieldset">
        <legend>{{.TemplateText.Test2.Question}}</legend>
        <div>
          <input type="radio" name="q2" id="q2a" />
          <label for="q2a">{{.TemplateText.Test2.Option1}}</label>
          <input type="radio" name="q2" id="q2b" />
          <label for="q2b">{{.TemplateText.Test2.Option2}}</label>
          <section>
            <div class="message correct">
              <p>{{.TemplateText.Test2.Correct}}</p>
              <img
                src="/frontend/test2correct-img.png"
                style="height: 200px; width: auto; float: left"
              />
            </div>
            <p class="message incorrect">{{.TemplateText.Test2.Incorrect}}</p>
          </section>
        </div>
      </fieldset>
    </form>
  </div>

  <input type="checkbox" id="test3-header" class="header-checkbox" />
  <label id="test3-label" class="test-header" for="test3-header"
    ><h3>{{.TemplateText.Test3.TestName}}</h3>
  </label>

  <div class="tests-main-block" id="test3-main-block">
    <div class="tests-block" style="display: flex; flex-direction: column">
      <div class="tests-block-text">
        <p>{{.TemplateText.Test3.Text1}}</p>
        <p>{{.TemplateText.Test3.Text2}}</p>
      </div>

      <img
        src="/frontend/test3-img.png"
        alt=""
        class="tests-block-image"
        style="
          float: none;
          width: 100%;
          max-width: none;
          margin: 0;
          border-radius: 0;
        "
      />
    </div>

    <form>
      <fieldset id="q3" class="quizz-fieldset">
        <legend>{{.TemplateText.Test3.Question}}</legend>
        <div>
          <input type="radio" name="q3" id="q3a" />
          <label for="q3a">{{.TemplateText.Test3.Option1}}</label>
          <input type="radio" name="q3" id="q3b" />
          <label for="q3b">{{.TemplateText.Test3.Option2}}</label>
          <section>
            <div class="message correct">
              <p>{{.TemplateText.Test3.Correct}}</p>
              <img
                src="/frontend/test3correct-img.png"
                style="
                  height: 200px;
                  width: auto;
                  float: left;
                  max-width: 250px;
                "
              />
            </div>
            <p class="message incorrect">{{.TemplateText.Test3.Incorrect}}</p>
          </section>
        </div>
      </fieldset>
    </form>
  </div>

  <input type="checkbox" id="test4-header" class="header-checkbox" />
  <label id="test4-label" class="test-header" for="test4-header"
    ><h3>{{.TemplateText.Test4.TestName}}</h3>
  </label>

  <div class="tests-main-block" id="test4-main-block">
    <div class="tests-block">
      <div class="tests-block-text">
        <p>{{.TemplateText.Test4.Text1}}</p>
      </div>

      <div class="tests-block-image">
        <img src="/frontend/test4-img1.png" alt="" />
        <img src="/frontend/test4-img2.png" alt="" />
      </div>
    </div>

    <form>
      <fieldset id="q4" class="quizz-fieldset">
        <legend>{{.TemplateText.Test4.Question}}</legend>
        <div>
          <input type="radio" name="q4" id="q4a" />
          <label for="q4a">{{.TemplateText.Test4.Option1}}</label>
          <input type="radio" name="q4" id="q4b" />
          <label for="q4b">{{.TemplateText.Test4.Option2}}</label>
          <section>
            <div class="message correct">
              <p>{{.TemplateText.Test4.Correct}}</p>
              <img
                src="/frontend/test4correct-img.png"
                style="
                  height: 200px;
                  width: auto;
                  float: left;
                  max-width: 300px;
                "
              />
            </div>
            <p class="message incorrect">{{.TemplateText.Test4.Incorrect}}</p>
          </section>
        </div>
      </fieldset>
    </form>
  </div>

  <input type="checkbox" id="test5-header" class="header-checkbox" />
  <label id="test5-label" class="test-header" for="test5-header"
    ><h3>{{.TemplateText.Test5.TestName}}</h3>
  </label>

  <div class="tests-main-block" id="test5-main-block">
    <div
      class="tests-block"
      style="display: flex; flex-direction: column; align-items: center"
    >
      <div class="tests-block-text">
        <p>{{.TemplateText.Test5.Text1}}</p>

        <p>
          {{.TemplateText.Test5.Text2}}
          <img
            src="/frontend/test5-img.png"
            alt=""
            class="tests-block-image"
            style="float: none; width: 100%; max-width: none; margin: 0"
          />
        </p>
      </div>

      <img
        src="/frontend/test5-img2.png"
        alt=""
        class="tests-block-image"
        style="float: none; min-width: 200px"
      />
    </div>

    <form>
      <fieldset id="q5" class="quizz-fieldset">
        <legend style="font-size: 130%">
          {{.TemplateText.Test5.Question}}
        </legend>
        <div>
          <input type="radio" name="q5" id="q5a" />
          <label for="q5a">{{.TemplateText.Test5.Option1}}</label>
          <input type="radio" name="q5" id="q5b" />
          <label for="q5b">{{.TemplateText.Test5.Option2}}</label>
          <input type="radio" name="q5" id="q5c" />
          <label for="q5c">{{.TemplateText.Test5.Option3}}</label>
          <input type="radio" name="q5" id="q5d" />
          <label for="q5d">{{.TemplateText.Test5.Option4}}</label>
          <input type="radio" name="q5" id="q5e" />
          <label for="q5e">{{.TemplateText.Test5.Option5}}</label>
          <section>
            <div class="message correct">
              <p>{{.TemplateText.Test5.Correct}}</p>
              <img
                src="/frontend/test5correct-img.png"
                style="float: left; min-width: 200px"
              />
            </div>
            <p class="message incorrect">{{.TemplateText.Test5.Incorrect}}</p>
            <p class="message incorrect_a">{{.TemplateText.Test5.Hint}}</p>
          </section>
        </div>
      </fieldset>
    </form>
  </div>

  <input type="checkbox" id="bacteria-header" class="header-checkbox" />
  <label id="bacteria-label" class="test-header" for="bacteria-header"
    ><h3>{{.TemplateText.Bacteria.Header}}</h3>
  </label>

  <div class="tests-main-block" id="bacteria-main-block">
    <img id="bacteria-img" src="/frontend/bacteria.png" alt="" />

    <fieldset id="q6" class="quizz-fieldset">
      <legend style="font-size: 130%">
        {{.TemplateText.Bacteria.Question}}
      </legend>
      <div>
        <input type="radio" name="q6" id="q6a" />
        <label for="q6a">{{.TemplateText.Bacteria.Option1}}</label>
        <input type="radio" name="q6" id="q6b" />
        <label for="q6b">{{.TemplateText.Bacteria.Option2}}</label>
        <input type="radio" name="q6" id="q6c" />
        <label for="q6c">{{.TemplateText.Bacteria.Option3}}</label>
        <input type="radio" name="q6" id="q6d" />
        <label for="q6d">{{.TemplateText.Bacteria.Option4}}</label>
        <section>
          <div class="message correct">
            <p>{{.TemplateText.Bacteria.Correct}}</p>
          </div>
          <p class="message incorrect">{{.TemplateText.Bacteria.Incorrect}}</p>
          <p class="message incorrect_a">{{.TemplateText.Bacteria.Hint}}</p>
        </section>
      </div>
    </fieldset>
  </div>
</div>
{{end}} {{define "language_buttons"}}
<fieldset id="lang_buttons">
  <label>
    <input
      type="radio"
      id="lang_cltn_kz"
      name="button"
      class="lang_button"
      checked
    />
    <a href="/tests/kz" target="_self"> kz </a>
  </label>

  <label>
    <input type="radio" id="lang_cltn_ru" name="button" class="lang_button" />
    <a href="/tests/ru" target="_self"> ru </a>
  </label>

  <label>
    <input type="radio" id="lang_cltn_en" name="button" class="lang_button" />
    <a href="/tests/en" target="_self"> en </a>
  </label>
</fieldset>
{{end}}
