.quizz-form {
  width: 40vw;
  min-width: 300px;
  color: white;
  border: none;
  border-radius: 0 0 10px 10px;
  /* position: static; */
  padding: 20px;
  /* padding-top: 0; */

  margin-left: 0;
  margin-right: 0;

  background-color: #02050f;
  background-image: url("magicpattern-blob-composition-1703703699022(1).jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
}

fieldset legend {
  /* position: static; */
  font-size: 150%;
  text-align: center;
}
fieldset input:checked + label {
  border-bottom: 2px solid #fddc9b;
}
fieldset label::after {
  content: "\000A";
  white-space: pre;
  line-height: 2;
}

fieldset .correct-answer {
  background-color: lightgray;
  border-radius: 1vh;
  color: black;
}

fieldset .correct-answer p {
  padding-left: 2vh;
}
