.tests-body {
  display: flex;
  flex-flow: column nowrap;
  background-color: #e1e1e1;
  /* background-image: url(https://i.imgur.com/zzIke0P.gif);
  background-repeat: no-repeat;
  background-size: cover; */
  align-items: center;
}

.tests-block {
  width: 90%;
  min-height: 30vh;
  margin: 5vh;
  border-radius: 5vh;
  background-color: #ffffff;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.tests-block-text {
  width: 40vw;
  overflow: auto;
  padding: 5vh;
}

.tests-block-image {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  border-radius: 0 5vh 5vh 0;
}

fieldset {
  width: 570px;
  height: 550px;
  color: white;
  background-color: #001233;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
  counter-increment: question;
}
